---
  import { Icon } from 'astro-icon'
  import HeaderMenu from '@components/molecules/HeaderMenu.astro'
  const menuLinks = [
      {
          title: "About",
          url: "/about",
      },
      {
          title: "Features",
          url: "/features",
      },
      {
          title: "Pricing",
          url: "/pricing",
      },
      {
          title: "Contact",
          url: "/contact",
      },
  ]
---

<header
    x-data={"header()"}
    x-bind="interactions"
    class="fixed top-0 left-0 w-full transition-shadow duration-300 ease-out delay-100 transform bg-white z-[200]"
    x-bind:class="[
        scrolled ? 'shadow-xl' : '',
        expanded && !scrolled ? 'shadow-xl md:shadow-none' : ''
    ]"
>
  <div class="max-w-3xl mx-auto flex flex-wrap items-center px-6  lg:px-8 xl:px-12 z-20 relative">

    <div class="flex items-center flex-grow md:flex-shrink-0">
      <a href="/">Logo</a>
      <button
        type="button"
        x-on:click="expanded = ! expanded; $dispatch('submenu-toggle')"
        class="ml-auto grid grid-cols-1 grid-rows-1 md:hidden"
      >
        <Icon name="tabler:menu-2" class="w-6 h-6 col-start-1 row-start-1" x-bind:class="expanded ? 'opacity-0' : 'opacity-100'"  />
        <Icon name="mdi:close" class="w-6 h-6 col-start-1 row-start-1" x-bind:class="expanded ? 'opacity-100' : 'opacity-0'" x-cloak="hidden"/>
      </button>
    </div>

    <HeaderMenu links={menuLinks} />
  </div>
  <div role="button" x-show="expanded" class="fixed inset-0 z-10 w-full h-screen md:hidden md:pointer-events-none" x-cloak="hidden" x-on:click="expanded = false"></div>
</header>
