---
import BaseLayout from '@layouts/BaseLayout.astro'
import { Icon } from 'astro-icon';
---
<BaseLayout>
  This is home of Astro starter
  <Icon name="smile" class="w-6 h-6 text-green-500" />
  <div class="min-h-screen"></div>
  <div class="min-h-screen"></div>
</BaseLayout>
