---
import BaseLayout from '@layouts/BaseLayout.astro'
import { Icon } from 'astro-icon';
---
<BaseLayout>
  <div class="container">
    This is home of Astro Starter
    <div>
    <Icon name="smile" class="w-6 h-6 text-green-500" />
    </div>
  </div>
  <div class="min-h-screen"></div>
</BaseLayout>
