---
import RawLayout from '@layouts/RawLayout.astro'
import Header from '@layouts/parts/Header.astro'
import Footer from '@layouts/parts/Footer.astro'
---
<RawLayout>
  <main class="pt-16 md:pt-20">
    <Header/>
    <slot />
    <Footer/>
  </main>
</RawLayout>
